<div class="row" ng-controller="DetailController">
    <div class="page-header">
        <h4 style="color:darkgrey; font-family: fantasy; font-size:25px;text-decoration: underline;">{{currentInfo.title}}</h4>
    </div>

    <div id="main-content" class="col-xs-12 col-lg-12 col-md-12">

        <div class="well" style="background:white;">{{currentInfo.content}}
          <h5>Date de la publication : {{currentInfo.publishedDate}}</h5>
            <br><br>
        <a href="{{currentInfo.link}}" target="_blank"  class="btn btn-sm btn-primary">Lire la suite</a>
        </div>


    </div>


</div>