<div class="row" ng-controller="InfoController">
    <div class="page-header">
        <h4 style="color:darkgrey; font-family: fantasy; font-size:25px;text-decoration: underline;">Infos Foot</h4>
    </div>

    <div id="main-content" class="col-xs-12 col-lg-12 col-md-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="info in infos">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a    ng-click="showInfo(info)">
                           {{info.title}}</a>

                    </h4>
                </div>

                    <div class="panel-body">{{info.contentSnippet}}</div>
                <br>
                <date><span style="font-family: fantasy;">Mise à jour le :</span>{{info.publishedDate}}</date>

            </div>

        </div>


    </div>


</div>